[submodule "local-band"]
	path = local-band
	url = https://github.com/auremoser/local-band
[submodule "local-library"]
	path = local-library
	url = https://github.com/auremoser/local-library
[submodule "local-radio"]
	path = local-radio
	url = https://github.com/auremoser/local-radio
[submodule "local-govt"]
	path = local-govt
	url = https://github.com/auremoser/local-govt
